* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #F0F0F0;
  border-bottom: solid rgba(0, 0, 0, 0.079);
}
header a {
  margin: 0 5rem;
}
header .botao-home {
  margin: 0 5rem 0;
  border: 0;
}
header .botao-home i {
  padding: 1rem;
  color: rgba(11, 154, 249, 0.5098039216);
  cursor: pointer;
}
header img {
  width: 3vw;
  transition: transform 0.9s ease;
}
header img:hover {
  transform: scale(1.1);
}

.projeto-page {
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projeto-page .projeto-item {
  width: 30vw;
  display: flex;
  flex-direction: column;
  border-bottom: solid rgba(0, 0, 0, 0.04);
}
.projeto-page .projeto-item h2 {
  text-align: center;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 800;
  padding: 1rem 0 0;
}
.projeto-page .projeto-item figure img {
  width: 100%;
  transition: transform 0.9s ease;
}
.projeto-page .projeto-item figure figcaption {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}
.projeto-page .projeto-item:hover {
  background-color: rgba(11, 154, 249, 0.1450980392);
  border-radius: 20px;
}
.projeto-page .projeto-item:hover figcaption p {
  display: block;
  font-size: 1rem;
  color: red;
}
.projeto-page .projeto-item:hover h2 {
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.318);
}
.projeto-page .projeto-item:hover #image-projeto {
  transform: scale(1.09);
}
.projeto-page .projeto-icons {
  padding: 1rem;
  margin-top: auto;
  text-align: end;
}
.projeto-page .projeto-icons img {
  width: 2vw;
}

footer {
  background-color: rgba(11, 154, 249, 0.5098039216);
  height: auto;
  display: flex;
  margin: 1rem 0 0;
}
footer #email {
  padding: 5rem 1rem;
}
footer .redes-text {
  margin: 1rem 2rem;
  width: 35vw;
  border-right: solid rgba(0, 0, 0, 0.232);
}
footer .redes-text h6 {
  font-size: 1.2rem;
  padding: 0.5rem 1rem 0;
}
footer .redes-text img {
  margin: 1rem 0;
  width: 3vw;
}

@media (max-width: 993px) {
  .projeto-page {
    padding: 0;
  }
  .projeto-page .projeto-item {
    margin: 1rem 0;
  }
  .projeto-page .projeto-item .projeto-icons img {
    width: 4vw;
  }
  .projeto-page .projeto-item h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  header img {
    width: 5vw;
    margin: 1rem 0;
  }
  header .botao-home {
    padding: 1rem;
  }
  .projeto-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .projeto-page .projeto-item {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header {
    background-color: #F0F0F0;
    width: auto;
  }
  header img {
    width: 10vw;
  }
  header .botao-home {
    margin: 1rem;
    padding: 0;
    background-color: rgba(11, 154, 249, 0.2352941176);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    border-radius: 10px;
  }
  header .botao-home i {
    display: block;
    color: white;
  }
  header .botao-home:hover {
    background-color: white;
  }
  header .botao-home:hover i {
    color: rgba(11, 154, 249, 0.5098039216);
  }
  .projeto-page {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .projeto-page .projeto-item img {
    width: 100%;
  }
  .projeto-page .projeto-item .projeto-icons img {
    width: 5vw;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer #email {
    padding: 1rem 0;
    text-align: center;
  }
  footer .redes-icon img {
    width: 10vw;
  }
  footer .redes-text {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
  }
  footer .redes-text p {
    padding: 1rem;
    width: 100%;
  }
}/*# sourceMappingURL=style-projeto.css.map */